@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSans/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansLight.woff") format("woff"), url("../fonts/OpenSans/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSansBold.eot");
  src: url("../fonts/OpenSans/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansBold.woff") format("woff"), url("../fonts/OpenSans/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "OpenSansLight";
}
a {
  text-decoration: none;
}
.home-flex {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.home-page_image {
  margin: 20px;
}
.home-page-text_area {
  color: #3f5060;
  font-size: 35px;
  font-family: "OpenSansLight";
}
.home-page-helping-text-area {
  color: #77838e;
  font-size: 20px;
  margin: 5px;
  font-family: "OpenSansLight";
}
.home-page-button {
  margin: 30px;
}
.home-page-button_size_color {
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 13px;
  border-radius: 4px;
  background: #427cac;
  box-shadow: 0 -1px #266396 inset;
  transition: 0.2s;
  font-family: "OpenSansLight";
}
.home-page-button_size_color:hover {
  background: #1d4f78;
}
.home-page-button_size_color:active {
  background: #427cac;
  box-shadow: 0 2px #266396 inset;
}
.Main-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid whitesmoke;
  /* Параметры границы */
  padding: 13px 0px;
}
.Text-header-page {
  font-size: 22px;
  font-family: "OpenSansRegular";
  color: #3f5060;
  max-height: 20px;
  vertical-align: sub;
  margin-left: 20px;
  font-weight: 900;
}
.header-page-exit {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: .875rem;
  color: #3f5060;
  text-align: center;
  float: right;
  margin-left: 50px;
}
.header-page-exit a {
  transition: color .2s;
}
.header-x {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: .875rem;
  color: #3f5060;
  float: right;
  text-align: center;
  margin-right: 35px;
}
.header-page-exit-text {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 900;
  line-height: 1rem;
  margin-right: 33px;
}
.body-page {
  display: flex;
  flex: 1;
}
.body-article {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #fafafa;
}
.body-aside {
  flex: 0 0 28vw;
}
.first-page-form {
  display: block;
  width: 65%;
  background-color: #FFFFFF;
  border: 1px solid #E9EBEC;
  border-radius: 5px;
  text-align: left;
  margin: 10px;
}
.first-page-line {
  padding: 20px;
  border-top: 1px solid #E9EBEC;
  border-bottom: 1px solid #E9EBEC;
}
label {
  color: #3F5060;
  display: block;
  margin-bottom: 5px;
  margin: 10px;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 13px;
}
.one-third-width {
  width: 63.3%;
}
.two-third-width {
  width: 36.6%;
}
.one-third-width,
.two-third-width {
  display: inline-block;
  margin-right: -4px;
}
.version {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding: 2px 5px;
  font-family: "OpenSansLight";
  border: 1px solid lavender;
  border-radius: 5px;
  vertical-align: middle;
}
.planed {
  width: 95%;
  height: 35px;
  margin-bottom: 0px;
  padding: 2px 5px;
  font-family: "OpenSansLight";
  border: 1px solid lavender;
  border-radius: 5px;
  vertical-align: middle;
}
.time {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: "OpenSansLight";
  border: 1px solid lavender;
  border-radius: 5px;
  vertical-align: middle;
}
.first-header-form {
  display: block;
  flex-direction: row;
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 15px;
}
.text-form {
  font-size: 24px;
  font-weight: 400;
  color: #3F5060;
}
.image-form {
  margin-right: 15px;
  float: left;
}
.header-form-text {
  color: #3F5060;
  font-weight: 700;
  line-height: 1.1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  margin-top: 6px;
  margin-bottom: 3px;
  padding-right: 30px;
}
.header-form-pod-text {
  color: #3F5060;
  font-size: 0.8125rem;
  line-height: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 30px;
}
.header-form-urn {
  float: right;
}
input[type="submit"] {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 5px;
  padding: 6px 15px;
  color: #94b4cf;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}
.buttons {
  margin-top: 10px;
  text-align: center;
}
.footer-form-text {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pricing {
  overflow: hidden;
  font-weight: 400;
  padding-bottom: 15px;
  padding: 20px;
}
.pricing-item-left {
  float: left;
  margin-right: 30px;
  font-size: 12px;
}
.pricing-label {
  color: #9CA4AC;
  display: block;
}
.pricing-item-right {
  float: right;
  text-align: right;
  font-size: 12px;
}
.body-aside_right {
  border-bottom: 1px solid #E9EBEC;
  padding: 5px 30px 20px;
}
