body {
  display: block;
  margin: 0;
  font-family: "OpenSansLight";
  line-height: 1.2;
  height: 100%;
  position: fixed;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
label {
  color: #3F5060;
  display: block;
  margin-bottom: 5px;
  margin: 10px;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 13px;
}
ul {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
  color: #3f5060;
}
