::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background: #b2b2b2;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #b2b2b2;
}
