.estimator-price {
  text-align: right;
  line-height: 0rem;
  padding-top: 2px;
}

.estimator-price-amount {
	font-weight: 600;
	padding-top: 6px;
}

.ng-star-inserted {
	line-height: 0;
  margin-top: 1rem;
}

.svg-left-side {
  line-height: 0;
  margin-top: 0.5rem;
}

.estimator-summary {
  height: 172px;
  width: 90%;
	flex: 0 0 28vw;
	border-top: 1px solid @color-grey-white;
	position: absolute;
	bottom: 0;
	font-weight: 400;
	color: @color-grey-blue;
	padding: 0 30px;
}
