.page-first-flex-button {
  margin: 30px;
}

 .button_size_color {
   padding: 13px;

   font-size: 20px;
   font-weight: 700;
   font-family: "OpenSansLight";
   text-decoration: none;
   color: @color-white;

   background: @color-blue-white-under;
   border-radius: 4px;

   box-shadow: 0 -1px @color-lapiz-lazuli inset;
   transition: 0.2s;
       &:hover  {
       background: @color-chatmas-blue;
       }
         &:active {
           background: @color-blue-white-under;
           box-shadow: 0 2px @color-lapiz-lazuli inset;
           }
    }

    .buttons-project {
    		display: block;
        width: 61%;
        margin-top: 10px;
        padding: .75rem 1.25rem;

        text-align: center;
    		text-decoration: none;
    		font-weight: 400;
    		line-height: 1.25rem;
        color: @color-honolulu-blue;

        border: 1px solid @color-celestial-blue;
    		border-radius: 4px;

    		transition: 0.2s;
    				&:hover  {
    				border: 2px solid @color-chatmas-blue;
    				}
    					&:active {
    						border:  2px solid @color-chatmas-blue;
    						}
            }

    .estimator-btns {
      position: absolute;
      bottom: 0;

    	display: flex;
      width: 100%;
    	flex-wrap: nowrap;
    	justify-content: space-between;
    }

    .btn-outline-primary {
        min-width: 70px;
    		margin: 0 5px 0 5px;
        padding: .7625rem .8rem;

        font-size: .875rem;
        text-align: center;
    		line-height: 1.25rem;
        font-family: "OpenSansLight";
    		color: @color-celestial-blue;

        border: 1px solid @color-celestial-blue;
    		border-radius: .2rem;

    		transition: 0.4s;
            &:hover  {
            border: 2px solid @color-celestial-blue;
            }
              &:active {
                background: @color-blue-white-under;
                box-shadow: 0 2px @color-lapiz-lazuli inset;
                }

            @media @phone{
              padding: .1625rem .3rem;
              margin: 0 5px 0 5px;
            }
         }

    .btn-pdf {
    	font-weight: 600;
      color: @color-white;

    	background-color: @color-celestial-blue;
    	  &:hover  {
    	   background-color: @color-blue-steel;
    	}
    }

    @media @laptop {
      .mobile-menu {
        display: none;
      }
    }


@media @phone
 {
  .mobile-menu__toggle_burger {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    right: 0;

    max-height: 22px;
    width: 35%;
    margin-top: 9px;
  }
}
