.estimator-list-header {
	padding: 5px 25px 20px;
	border-bottom: 1px solid @color-grey-white;
}

.estimator-list-headline{
	line-height: 1.125rem;
	font-size: 1.125rem;
	font-weight: 400;
	font-family: "OpenSansRegular";
	margin-bottom: 0;
}

.estimator-list > li:not(:last-child){
	border-bottom: 1px solid @color-grey-white;
}

.estimator-list > li {
	overflow: hidden;
	padding: 5px 20px;
	font-family: "OpenSansRegular";
}

.estimator-list-detail{
	float: left;
  height: 35px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 35px - 15px - 125px);
}

.estimator-list-name {
    white-space: nowrap;
    line-height: 3px;
}
