.estimator-disclamer{
	font-weight: 400;
}

.estimator-list-hint-indicator{
	margin: 0 10px 0 0;
  font-size: 0.75rem;
}

.estimator-price-amount-footer{
	font-size: 0.9rem;
	font-weight: 600;
	padding-top: 6px;
}
