.page-first-flex_text_area {
  color: @color-river-bed;
  font-size: 35px;
  font-family: "OpenSansLight";
}

.page-first-flex-helping_text_area {
  color: @color-grey-shiffer;
  font-size: 20px;
  margin: 5px;
  font-family: "OpenSansLight";
}

.Text-header-page {
	font-size: 22px;
	font-family: "OpenSansRegular";
	color: @color-river-bed;
	max-height: 20px;
	vertical-align: sub;
	margin-left: 20px;
	font-weight: 900;
}

.body-article_text-form{
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: @color-river-bed;
}

.estimator-disclamer-info{
	color: @color-grey-blue;
	line-height: 14px;
}

.estimator-disclamer-interest{
  margin: 15px 0;
	color: @color-river-bed;
	}

  .estimator-name-cost-footer{
  	font-size: 0.9rem;
  	line-height: 4px;
  	font-weight: 600;
  	padding-top: 6px;
  }
